<h1 class="mt-5">Friends</h1>

<div class="search-area">
  <h3>Search Friends</h3>
  <%= form_tag search_friends_path, remote: true, method: :get do %>
    <div class="row">
      <div class="col-sm-9">
        <%= text_field_tag :friend, params[:friend], placeholder: "Name or email", autofocus: true, class: "form-control form-control-lg mt-3" %>
      </div>
      <div class="col-sm-3">
        <%= button_tag type: :submit, class: "btn btn-warning mt-3" do %>
          <%= 'Search' %>
        <% end %>
      </div>
  <% end %>
  </div>
</div>

<div id="friend-results" class="mt-3">

</div>

<% if !@friends.empty? %>
  <%= render 'friends/list' %>
<% end %>