<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <div class="container">
    <%= link_to 'FinanceTracker', root_path, class: "navbar-brand" %>
    <% if current_user %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'My Portfolio', my_portfolio_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to 'My Friends', my_friends_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item" %>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item user-name">
            <%= current_user.full_name %>
          </li>
          <li class="nav-item">
            <%= link_to("Logout", destroy_user_session_path, class: "btn btn-outline-dark", method: :delete) %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>